{% extends 'home.html' %}
{% block main %}
<div class="container">
    <div class="bg-white rounded-2 ">
        <div class="px-5 pt-3">
    <div class="d-flex flex-row align-items-center">
        <span class="ml-2 fw-bold fs-5">รายการจองคิวครุภัณฑ์</span>
    </div>
        <div class="d-flex justify-content-between "></div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between">
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="align-items-center">
                    <span>เรียงโดย</span>
                    <a href="?sort=latest" class="px-2 me-2 btn {% if last_sort == 'latest' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">วันที่ทำรายการ</a>
                    <a href="?sort=name" class="px-2 me-2 btn {% if last_sort == 'name' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">รายการ</a>
                    <a href="?sort=type" class="px-2 me-2 btn {% if last_sort == 'type' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">ประเภท</a>
                    <a href="?sort=default" class="px-2 me-2 btn border-0 rounded-pill"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 border-dark" type="search" placeholder="Search" aria-label="Search" name="search_q" value="{{search_q}}">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 px-2">
        <div class="table-responsive">
        <table class="table small">
            <thead>
                <tr class="fw-bold">
                    <th class="col-1 text-center" scope="col">ลำดับ</th>
                    <th class="col-8 " scope="col">รายการ</th>
                    <th class="col-1 text-center" scope="col">ประเภท</th>
                    <th class="col-1 text-center" scope="col">ทำรายการเมื่อ</th>
                    <th class="col-1 text-center" scope="col"></th>
                </tr>
            </thead>
            <tbody id="xTable">
                {% for AllQueueDurable in pagequeuedurable.object_list %}
                <tr class="qrow card-body">
                    <td class="text-center">{{forloop.counter}}</td>
                    <td class="text-start">{{ AllQueueDurable.name }}
                    </td>
                    <td class="text-center">{{ AllQueueDurable.type }}
                    </td>
                    <td class="text-center">{{ AllQueueDurable.date_q|date:"j N Y" }}
                    </td>
                    <td>
                        <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm
                            text-center">
                            <li>
                                <a class="dropdown-item btn-0
                                    btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#cancel-{{forloop.counter}}">ยกเลิกการจองคิว</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!-- ลบข้อมูล -->
                <div class="modal fade" name="cancel" id="cancel-{{forloop.counter}}" tabindex="-1"
                    aria-labelledby="cancelModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DcancelModal">ยืนยันการยกเลิกการจอง {{AllQueueDurable.name}}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">รายการ : </span><span
                                    class="small text-black-50">{{AllQueueDurable.name}}</span>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">ยี่ห้อ : </span><span class="small text-black-50">{{AllQueueDurable.type }}</span>
                            </div>
                            <div class="modal-body">
                                <span class="fw-bold">วันที่ทำรายการ : </span><span class="small text-black-50">{{ AllQueueDurable.date_q|date:"G:m A d M y" }}</span>
                            </div>
                            <div class="modal-footer">
                                <button type="cancer" class="btn btn-secondary rounded-pill"
                                    data-bs-dismiss="modal">ยกเลิก</button>
                                <a type="submit" value="ยืนยัน" class="btn btn-warning rounded-pill" href="{% url 'delete_queue_durable' AllQueueDurable.id %}">ยืนยัน</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">ยังไม่มีข้อมูลการจองคิวครุภัณฑ์</p>

                {% endfor %}
            </tbody>
            <div class="page-links">
                {% if pagequeuedurable.has_previous %}
                <a href="?page={{ pagequeuedurable.previous_page_number }}">หน้าก่อนหน้า</a>
                {% endif %}
                {% if pagequeuedurable.has_next %}
                <a href="?page={{ pagequeuedurable.next_page_number }}">หน้าถัดไป</a>
                {% endif %}
            </div>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}