{% extends 'homestaff.html' %}
{% block main %}
<div class=" container ">
  <div class="bg-white rounded-2 ">
    <div class="px-5 pt-3">
        <div class="d-flex justify-content-between row">
          <div class="col-md-12 col-lg-6">
            <h5 class="fw-bold">นักศึกษาที่ถูกระงับสิทธิ์ชั่วคราวในระบบ U Borrow U</h5>
          </div>
          <div class="d-flex flex-row col-md-12 col-lg-6 justify-content-end">
            <div>
              <p class="fw-bold">จำนวนนักศึกษาที่ถูกระงับสิทธิ์ {{ AllUser_count.count }} คน</p>
            </div>
          </div>
        </div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between">
          <div class="d-flex col-sm-12 col-md-12 col-lg-6">
              <div class="align-items-center">
                  <span>เรียงโดย</span>
                  <a href="?sort=latest" class="px-2 me-2 btn {% if last_sort == 'latest' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">ใช้งานล่าสุด</a>
                  <a href="?sort=first_name" class="px-2 me-2 btn {% if last_sort == 'first_name' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">ชื่อ-สกุล</a>
                  <a href="?sort=deadline" class="px-2 me-2 btn {% if last_sort == 'deadline' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">ระยะเวลากลับสู่สถานะปกติ</a>
                  <a href="?sort=default" class="px-2 me-2 btn border-0 rounded-pill"><i class="fa fa-refresh" aria-hidden="true"></i></a>
              </div>
              
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
              <form class="d-flex" role="search">
                  <input class="form-control me-2 border-dark" type="search" placeholder="Search" aria-label="Search" name="search_user" value="{{search_user}}">
                  <button class="btn btn-outline-dark" type="submit">Search</button>
              </form>
          </div>
      </div>
      </div>
    <div class="col-lg-12 px-2">
        <div class="table-responsive">
            <table class="table small">
              <thead class="table">
                <tr class="table bg-warning ">
                  <th class="col" scope="col">ชื่อ-สกุล</th>
                  <th class="col" scope="col">อีเมล</th>
                  <th class="col" scope="col">เบอร์โทรศัพท์</th>
                  <th class="col" scope="col">ใช้งานล่าสุด</th>
                  <th class="col" scope="col">สิทธิ์</th>
                  <th class="col" scope="col">สถานะ</th>
                  <th class="col" scope="col">ระยะเวลากลับสู่สถานะปกติ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="xTable">
                {% for AllUser in page.object_list %}
                <tr class="qrow">
                  <td>
                    {{AllUser.first_name}}&nbsp{{AllUser.last_name}}
                  </td>
                  <td>
                    {{ AllUser.email }}
                  </td>
                  <td>
                    {% if AllUser.phone == None %}
                    <span> N/A </span>
                    {% else %}
                    <span>{{ AllUser.phone }}</span>
                    {% endif %}
                  </td>
                  <td>
                    {{ AllUser.last_login|date:"G:i A j F Y" }}
                  </td>
                  <td>
                    {{ AllUser.right }}
                  </td>
                  <td>
                    {{ AllUser.status }}
                  </td>
                  <td>
                    {{ AllUser.deadline|timeuntil }}
                  </td>
                  <td>
                    <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm text-center">
                      <li>
                        <a class="dropdown-item btn-0 btn-sm" data-bs-toggle="modal"
                          data-bs-target="#manageitemcatecory-{{forloop.counter}}">คืนค่าสถานะสิทธิ์</a>
                      </li>
                    </ul>
                  </td>
                </tr>

                <!-- แก้ไขข้อมูล -->
                <div class="modal fade" id="manageitemcatecory-{{forloop.counter}}" tabindex="-1"
                  aria-labelledby="ManageUserModal" aria-hidden="true">
                  <form method="post" action="/staff_user_return/{{AllUser.id}}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-dialog modal-lg
                      modal-fullscreen-lg-down">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="edititemModal">คืนค่าสถานะสิทธิ์</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <span class="fw-bold">ชื่อ-สกุล :</span>
                          <span class="small text-black-50">{{AllUser.first_name}}&nbsp{{AllUser.last_name}}</span><br>
                          <span class="fw-bold">อีเมล :</span>
                          <span class="small text-black-50">{{AllUser.email}}</span><br>
                          <span class="fw-bold">ถูกระงับสิทธิ์เมื่อ :</span>
                          <span class="small text-black-50">{{ AllUser.statusdate }}</span>
                          <br>
                          <span class="fw-bold">ระยะเวลากลับสู่สถานะปกติ :</span>
                          <span class="small text-black-50">{{ AllUser.deadline }}</span>
                          <br>
                          <span class="fw-bold">เหตุผลการระงับสิทธิ์ :</span>
                          <span class="small text-black-50">{{ AllUser.reasonfromstaff }}</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn
                            btn-secondary rounded-pill" data-bs-dismiss="modal">ยกเลิก</button>
                          <button type="submit" class="btn btn-warning
                            rounded-pill">คืนค่าสถานะสิทธิ์</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                  {% empty %}
                  <p class="text-center">ยังไม่มีข้อมูลนักศึกษาที่ถูกระงับสิทธิ์ชั่วคราวในระบบ U Borrow U</p>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="page-links">
          {% if page.has_previous %}
          <div class="ps-5 pb-3">
          <a href="?page={{ page.previous_page_number }}">หน้าก่อนหน้า</a>
          </div>
          {% endif %}
          {% if page.has_next %}
          <div class="ps-5 pb-3">
          <a href="?page={{ page.next_page_number }}">หน้าถัดไป</a>
          </div>
          {% endif %}
        </div>
        
      </div>
    </div>

{% endblock %}