{% extends 'homeAdmin.html' %}
{% block main %}
{% load static %}

<div class="container">
    <div class="bg-white rounded-2 mb-3">
        <div class="px-5 pt-3">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="">
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <span class="fw-bold fs-5">รายชื่อนักศึกษา</span>

                            <div>
                                <a class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal"
                                    data-bs-target="#additemm">เพิ่มรายชื่อ</a>
                                <a class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal"
                                    data-bs-target="#additemcsv">เพิ่มรายชื่อด้วย CSV</a>
                            </div>

                            <!-- moal เพิ่มรายการ csv -->
                            <div class="modal fade" id="additemcsv" tabindex="-1" aria-labelledby="additemModal"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="additemModal">เพิ่มรายชื่อ CSV</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                <p>ลำดับของ CSV ควรเป็น firstname, lastname,email</p>
                                                <a class="m-3" href="{% url 'csv_person_download' %}">Download Example File</a><br>
                                                <input class="form-control rounded-pill" type="file" name="file"
                                                    id="file">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary
                            rounded-pill" data-bs-dismiss="modal">ยกเลิก</button>
                                                <button type="submit" class="btn btn-warning
                            rounded-pill">ยืนยัน</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="modal fade" id="additemm" tabindex="-1" aria-labelledby="additemModal"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                                    <form method="post" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="additemModal">เพิ่มรายชื่อ</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    {{ form.as_p }}
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary
                                rounded-pill" data-bs-dismiss="modal">ยกเลิก</button>
                                                <button type="submit" class="btn btn-warning
                                rounded-pill">ยืนยัน</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row rounded-2 small fw-bold justify-content-between mt-1">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                <div class="align-items-center">
                                    <span>เรียงโดย</span>
                                    <a href="?sort=firstname"
                                        class="px-2 me-2 btn {% if last_sort == 'firstname' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">ชื่อ</a>
                                    <a href="?sort=lastname"
                                        class="px-2 me-2 btn {% if last_sort == 'lastname' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">นามสกุล</a>
                                    <a href="?sort=email"
                                        class="px-2 me-2 btn {% if last_sort == 'email' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">อีเมล</a>
                                    <a href="?sort=default" class="px-2 me-2 btn border-0 rounded-pill"><i
                                            class="fa fa-refresh" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2 border-dark" type="search" placeholder="Search"
                                        aria-label="Search" name="search_user" value="{{search_user}}">
                                    <button class="btn btn-outline-dark" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 px-2">
            <div class="table-responsive">
                <table class="table small">
                    <thead class="table">
                        <tr class="table table-dark">
                            <th class="col-md-1 text-center" scope="col">ลำดับ</th>
                            <th class="col-md-2 " scope="col">ชื่อ</th>
                            <th class="col-md-2 text-center" scope="col">นามสกุล</th>
                            <th class="col-md-7 text-center" scope="col">อีเมลล์</th>
                            <th class="col-md-1 " scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="xTable">
                        {% for profile in profiles %}
                        <tr class="qrow">
                            <td class="text-center">{{forloop.counter}}</td>
                            <td>
                                <a class="text-black" style="text-decoration:none"><span
                                        class="text-start d-inline-block text-truncate"
                                        style="max-width: 500px;">{{profile.firstname }}</span></a>
                            </td>
                            <td>
                                <a class="text-center text-black" style="text-decoration:none"><span
                                        class="text-center">{{profile.lastname }}</span></a>
                            </td>
                            <td>
                                <a class="text-center text-black" style="text-decoration:none"><span
                                        class="text-center">{{profile.email }}</span></a>
                            </td>
                            <td>
                                <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown"
                                    aria-expanded="false"></i>
                                <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm text-center">
                                    <li><a data-bs-toggle="modal"
                                            data-bs-target="#deleteitemcategory-{{forloop.counter}}"
                                            class="dropdown-item btn-0 btn-sm">ลบ</a>
                                    </li>
                                </ul>
                                <!-- moal ลบ -->
                                <div class="modal fade" id="deleteitemcategory-{{forloop.counter}}" tabindex="-1"
                                    aria-labelledby="deleteitemModal" aria-hidden="true">
                                    <div class="modal-dialog modal-lg
                        modal-fullscreen-lg-down">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="edititemModal">ยืนยันการลบข้อมูล</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <span class="fw-bold">ชื่อ : </span><span
                                                    class="small text-black-50">{{profile.firstname }}</span><br>
                                                    <span class="fw-bold">นามสกุล : </span><span
                                                    class="small text-black-50">{{profile.lastname }}</span><br>
                                                    <span class="fw-bold">อีเมลล์ : </span><span
                                                    class="small text-black-50">{{profile.email }}</span><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn
                                    btn-secondary rounded-pill" data-bs-dismiss="modal">ยกเลิก</button>
                                                <a href="/deleteProfile/{{profile.id }}" type="submit"
                                                    class="btn btn-warning rounded-pill">ยืนยัน</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="page-links">
                    {% if page.has_previous %}
                    <div class="ps-5 pb-3">
                    <a href="?page={{ page.previous_page_number }}">หน้าก่อนหน้า</a>
                    </div>
                    {% endif %}
                    {% if page.has_next %}
                    <div class="ps-5 pb-3">
                    <a href="?page={{ page.next_page_number }}">หน้าถัดไป</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}